# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# OS X directory data
.DS_Store

assignment/.ipynb_checkpoints/Map-checkpoint.ipynb

NB/.ipynb_checkpoints/Ex6-checkpoint.ipynb

NB/twitterconfig.py

NB/.ipynb_checkpoints/Assignment2-checkpoint.ipynb

NB/.ipynb_checkpoints/Ex8-checkpoint.ipynb

NB/.ipynb_checkpoints/Sklearn-checkpoint.ipynb

NB/.ipynb_checkpoints/Ex7-checkpoint.ipynb

*.pdf

NB/data/yelp_data/yelp_academic_dataset_business.csv

NB/data/yelp_data/yelp_academic_dataset_review.csv

*.csv

*.txt
